# Compiled class files
*.class

# Log files
*.log

# BlueJ files
*.ctxt

# Package files
*.jar
*.war
*.nar
*.ear
*.zip

# IDE files
.vscode/
.idea/
*.iml

# OS files
.DS_Store
Thumbs.db

# Java build folders
bin/
out/
target/